@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.networkLink {
  display: flex;
  justify-content: center;
  align-content: center;
  grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
  grid-template-rows: 1;
  margin-left: 4vw;
}

.title {
  font-family: 'Kaushan Script';
  text-shadow: rgba(235, 125, 0) 2px 2px 2px;
  padding-right: 15px;
}

.networkLogo {
  margin-top: 1.3vw;
  margin-left: 1.5vw;
}

.credits {
  margin-top: 0.5vw;
  text-align: center;
  margin-right: 2vw;
}

.conditions {
  list-style-type: disc;
  text-align: center;
}

.conditionElement {
  text-align: center;
  display: inline;
}
