.dessert {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-shadow: rgba(235, 125, 0, 0.5) 2px 2px 2px;
  font-size: 3em;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bouton-creation {
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .souscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
