.mesinfos {
  display: flex;
  flex-direction: column;
}

span {
  display: flex;
  justify-content: center;
}
.containerBouton {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.deconnexion {
  display: flex;
  justify-content: center;
  width: 40%;
}
